<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <img ion-right src="assets/imgs/qr-scan-logo-icon.png" class="navbarLogo" />
    <ion-title>Request List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id = "transaction">

    <ion-list text-center>
      <ion-item>
         Username :  {{username}}
      </ion-item>
      <ion-item>
         <button ion-button large block (click)="getUserRequestList()" >
            Click to refresh data     
      <ion-icon name="refresh"></ion-icon>
      </button>
      </ion-item>
      
    </ion-list>

      <ion-list *ngFor="let item of resposeData; let msgIndex = index ">
          <ion-item>
          <ion-thumbnail item-start>
                          <img src="assets/imgs/{{this.item.request_status}}.png" alt="document ionc status">
          </ion-thumbnail>
                    
            <h2>Request No. {{this.item.req_number}}</h2>
            <h2>Type : {{this.item.req_type_description}} </h2>
            <h2>request date : {{this.item.request_date_format}} </h2>
            <h2>Status : {{this.item.submit_description}} </h2>
            <h2>to : {{this.item.to_costcenter}} </h2>
            <button ion-button clear item-end (click)="viewRequestDetail(item)" >View</button>
          </ion-item>
        </ion-list>

    <!-- <ion-list>
       
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          {{username}}
        </ion-item>
        
        <div style="text-align:center;" >
          <br>
        
      </div>
        <ion-card *ngFor="let item of resposeData; let msgIndex = index ">
            <ion-item>
              <ion-card-header>
                <h2>Request No. {{this.item.req_number}} Type : {{this.item.req_type_description}} </h2>
                <h2>request date : {{this.item.request_date}} </h2>
                <hr>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                    <h2>Status : {{this.item.submit_description}} </h2>
                    <h2>to : {{this.item.to_costcenter}} </h2>
                    <p>
                        <button ion-button (click)="viewRequestDetail()">View Request Detail</button>
                    </p>
                  </ion-item>
              </ion-card-content>
            </ion-item>
          </ion-card>
      </ion-list> -->
</ion-content>
