<!--
  Generated template for the RequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Request Document</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="request" style="background-color: orange;" >

        <ion-row >
          <ion-col col-12>
              <img src="assets/imgs/dhl-logo-hor.png" style="width:100%;" >
              <h3>Request No. {{this.value.req_number}}</h3>
              <h3>Approve. {{this.value.request_status_description}}</h3>
              <h3>Type : {{this.value.req_type_description}} </h3>
              <h3>request date : {{this.value.request_date_format}} </h3>
              <h3>Status : {{this.value.submit_description}} </h3>
              <h3>to : {{this.value.to_costcenter}} </h3>
            <hr>
            <div class="submit_button" *ngIf="qrscan_button">
            <button ion-button large block (click)="qrScan()" icon-start> 
                <ion-icon name="qr-scanner"></ion-icon>
               SCAN QRCODE</button>
              </div>
          </ion-col>
        </ion-row>
      
         <ion-list>
            <ion-item-sliding *ngFor="let assets of resposeData; let i = index ">
                <ion-item>
                    <h2>Asset No. {{this.assets.asset_no}}</h2>
                    <h2>{{this.assets.asset_description}}</h2>
                    <h2>Net Value : {{this.assets.net_value}}</h2>
                </ion-item>
                 <ion-item-options side="left">
                    <button ion-button color="danger" icon-start (click)="viewAsset(assets)"><ion-icon name="eye" ></ion-icon> view asset</button>
                </ion-item-options>

                <ion-item-options side="right">
                  <div class="submit_button" *ngIf="submit_button">
                  <button ion-button color="danger" icon-start (click)="removeAsset(assets)"><ion-icon name="trash" ></ion-icon> Remove</button>
                  </div>
                </ion-item-options>
                
              </ion-item-sliding>
          </ion-list>

          <div class="view_button" *ngIf="view_button">
              <button ion-button large block (click)="viewApprove()" icon-list-box> 
                  <ion-icon name="viewapprove"></ion-icon>
                view approve list</button>
          </div>

          <div class="submit_button" *ngIf="submit_button">
          <button ion-button large block (click)="submitRequest()" icon-start> 
              <ion-icon name="send"></ion-icon>
             Submit Request
          </button>
              <br>
              <hr>
              <div class="submit_button" *ngIf="submit_button">
                <button ion-button large block (click)="deleteRequest()" icon-start style="background-color:red;"> 
                  <ion-icon name="trash"></ion-icon>
                    Delete Request
                </button>
              </div>

          </div>
    
     

</ion-content>
