


<ion-content padding style="background-color: orange">

    <div class="img" style="text-align:center;">
        <img src="assets/imgs/qr-scan-logo-no-bg.png" style="width:60%;padding-top:10%;">
    </div>
    
    <h1>Login Request Fix Asset</h1>
    <br>
    <div>Input your username and password</div>

<ion-list>

  <ion-item style="background-color: orange">
    <ion-label fixed style="color : white">Username</ion-label>
    <ion-input type="text" value="" [(ngModel)]="userData.username"></ion-input>
  </ion-item>

  <ion-item style="background-color: orange">
    <ion-label fixed style="color : white">Password</ion-label>
    <ion-input type="password" [(ngModel)]="userData.password"></ion-input>
  </ion-item>
  <br>
  <button ion-button block large color="primary" (click)="login()">Login</button>

</ion-list>
</ion-content>
