<ion-tabs>
  <!-- <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab> -->
  <!-- <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab> -->


  <ion-tab [root]="tab1Root" tabTitle="Count Asset" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Count List" tabIcon="expand"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" tabTitle="New Request" tabIcon="document"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Request List" tabIcon="list"></ion-tab> -->
  <!-- <ion-tab [root]="tab5Root" tabTitle="Found New Asset" tabIcon="cube"></ion-tab> -->
</ion-tabs>
