<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <img ion-right src="assets/imgs/qr-scan-logo-icon.png" class="navbarLogo" />
    <ion-title>รายการ ตรวจนับทรัพย์สิน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id = "transaction"  style="background-color: #ffcb01;">

    <ion-list text-center>
      <ion-item>
         User :  {{user}}
      </ion-item>
      <ion-item>
         <button ion-button large block (click)="getUserCountList()" >
          <!-- <button ion-button large block> -->
            คลิกเพื่อโหลดข้อมูลใหม่    
      <ion-icon name="refresh"></ion-icon>
      </button>
      </ion-item>
      
    </ion-list>

      <ion-list *ngFor="let item of resposeData; let msgIndex = index ">
          <ion-item>
          <ion-thumbnail item-start>
                          <img src="assets/imgs/{{this.item.submit_status}}.png" alt="document ionc status">
          </ion-thumbnail>
                    
            <h2>หมายเลขตรวจนับ. {{this.item.count_no}}</h2>
            <!-- <h2>Type : {{this.item.req_type_description}} </h2> -->
            <h3>วันที่ : {{this.item.count_date}} </h3>
            <h2>สถานะ : {{this.item.submit_description}} </h2>
            <!-- <h2>to : {{this.item.to_costcenter}} </h2> -->
            <button ion-button clear item-end (click)="viewCountDetail(item)" >ดู</button>
          </ion-item>
        </ion-list>

</ion-content>
