<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <img ion-right src="assets/imgs/inventory_icon.png" class="navbarLogo" />
    <ion-title>Qty Stock Onhand</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id = "stockonhand">
  <ion-list>
    <!-- <ion-list-header>Qty stock onhand </ion-list-header> -->
    <ion-item>
      <ion-icon name="home" item-left></ion-icon>
      Stock @ Service Center : {{whse}} 
    </ion-item>
    <!-- <ion-item >
      <ion-input type="text" placeholder="Search Item" value="" [(ngModel)]="search_txt"
      style="font-size:16pt;"
      ></ion-input>
    </ion-item> -->
    <!-- <button ion-button block (click)="getStockOnhand()" style="padding-left:10%;padding-right:10%">Click to refresh data</button> -->
    <div style="text-align:center;" >
      <br>
    <button ion-button icon-left (click)="getStockOnhand()" style="width:80%;" >
      Click to refresh data     
      <ion-icon name="refresh"></ion-icon>
    </button>
    
    <!-- <button ion-button icon-left (click)="testpage()" style="width:80%;" >
        test    
        <ion-icon name="refresh"></ion-icon>
      </button> -->
  </div>
    <ion-card *ngFor="let item of resposeData; let msgIndex = index">
        <ion-item>
          <!-- <ion-icon name="trash" item-right (click)="feedDelete(item.feed_id, msgIndex)"></ion-icon> -->
          <ion-card-content>
            <!-- <p [innerHTML]="item.feed | linky"></p> -->
            
            <ion-item>
                <!-- <ion-icon name="cube" item-left></ion-icon> -->
                <h2>{{this.item.item_code}} - {{this.item.item_description}}</h2>
                <h2>Location {{this.item.shelf_location}} </h2>
                <h2>Qty Stock Onhand {{this.item.qty_on_hand}} unit</h2>
              </ion-item>
         
          </ion-card-content>
        </ion-item>
      </ion-card>
  </ion-list>
</ion-content>
