<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <img ion-right src="assets/imgs/qr-scan-logo-icon.png" class="navbarLogo" />
    <ion-title>Fix Asset Management V1</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding id="home" >
        

    <div class = "scan_button" *ngIf="show_scanButton">
    <!-- <div class = "scan_button" > -->
          <div class="user">
            
            <ion-list>
                <ion-item>
                    <ion-icon name="home" item-left></ion-icon>
                    Service Center : {{userPostData.whse}} 
                  </ion-item>
                <ion-item>
                    <ion-icon name="key" item-left></ion-icon>
                    login id : {{userPostData.user_name}}
                  </ion-item>
                  <ion-item>
                      <ion-icon name="person" item-left></ion-icon>
                    name : {{userPostData.firstname}} {{userPostData.lastname}}
                  </ion-item>
            </ion-list>
          </div>
      <hr>
      <div *ngIf="show_img_icon">
        <p text-center padding>
            <img src="assets/imgs/qr-scan-logo-no-bg.png" style="width:50%;">
        </p>
      </div>
    
        <div *ngIf="show_create_request">
        <ion-item>
          <ion-label>Request Type</ion-label>
          <ion-select  [(ngModel)]="req.request_type">
            <ion-option value="1">Transfer</ion-option>
            <ion-option value="2">Disposal</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>To Costcenter</ion-label>
          <ion-select  [(ngModel)]="req.to_costcenter">
            <ion-option *ngFor="let item of resposeData; let index = index" value={{item.costcenter_id}} >{{item.costcenter_id}}/{{item.costcenter_description}}</ion-option>
          
          </ion-select>
        </ion-item>
        <br>
        <p text-center>
          <button color="danger" ion-button large block (click)="send_create_request()" icon-start> 
              <ion-icon name="add-circle"></ion-icon>
             Create Request No.</button>
          
      </p>

      <p text-center>
        <button color="danger" ion-button large block (click)="reset_button()" icon-start> 
            <ion-icon name="arrow-back"></ion-icon>
           Back</button>
        
    </p>

      </div>

        <hr>
        <div  *ngIf="show_img_icon">
        <p text-center>
          <button ion-button large block (click)="create_request()" icon-start> 
              <ion-icon name="document"></ion-icon>
             Create New Request</button>
          
        </p>
      
  
        <br>
        <br>
        <p text-center>
            <button olor="default" ion-button large block (click)="logout()" icon-start>
              <ion-icon name="unlock"></ion-icon>
              User  logout </button>
            
        </p>
      </div>
       
    </div>
  
    




    <div *ngIf="show_result">
    <!-- <div>           -->
          <h1>
          Item Detail
          </h1>
          <ion-list>
              <ion-item>
                  <h2>Code : {{itemDetail.item_code}} </h2>
                </ion-item>
                <ion-item>
                  <h2>Description : {{itemDetail.item_description}} </h2>
                </ion-item>
                <ion-item>
                    <h2>Shelf : {{itemDetail.shelf_location}} </h2>
                </ion-item>
                <ion-item>
                    <h2>Qty : {{itemDetail.qty_on_hand}} unit</h2>
                </ion-item>
            <ion-item text-center >
              
              <ion-label color="primary">Input Qty Issue (unit)</ion-label>
              <ion-input placeholder="QTY" required type="number" maxlength="10" value="" [(ngModel)]="itemDetail.qty_issue"
                style="font-size:16pt;"
              ></ion-input>
            
            </ion-item>

            <ion-item>
                <ion-label>Reason</ion-label>
                <ion-select [(ngModel)]="itemDetail.note" (ionChange)="onChange()">
                  <ion-option value="1">To Customer</ion-option>
                  <ion-option value="2">Spare</ion-option>
                </ion-select>
              </ion-item>
              <div *ngIf="show_waybill">
              <ion-item>
                  <!-- <ion-icon name="leaf" item-left primary></ion-icon> -->
                  <!-- <ion-label floating primary>waybill number</ion-label> -->
                  <ion-input type="text" placeholder="Waybill number" value="" [(ngModel)]="itemDetail.ref_doc"
                  style="font-size:16pt;"
                  (input)="input_waybill()"
                  ></ion-input>

                  <!-- <ion-icon name="arrow-forward" item-right primary></ion-icon> -->
                  <!-- <ion-icon name="qr-scanner" (click)="scan_waybill()" item-right primary  style="zoom:2.0;"></ion-icon> -->
                  <button ion-button large icon-start item-right primary (click)="scan_waybill()">
                  <ion-icon name="qr-scanner" ></ion-icon>
                  </button>
              </ion-item> 
              </div>

            <div *ngIf="show_submit">
            <ion-item text-center >
                <button ion-button large color="primary" (click)="submit()" block="">Submit</button>
            </ion-item>
            </div>

            <ion-item text-center >
                <br>
                  <button ion-button large (click)="scan()" block="" >Scan New Barcode</button>
                <br>
            </ion-item>
          </ion-list>


    </div>
  
  </ion-content>
  

<!-- <ion-content padding >
  <h2>User : {{userPostData.user_name}}</h2> -->
  <!-- <h2>Welcome to {{userDetails.name}}</h2> -->
  <!-- <ion-item id="udpateBox">
    <textarea #updatebox [(ngModel)]="userPostData.feed" autofocus></textarea>
    <ion-row>
      <button ion-button color="energy" (click)="feedUpdate()">Update</button>
    </ion-row>
  </ion-item> -->

  <!-- <ion-card *ngFor="let item of dataSet; let msgIndex = index">
    <ion-item>
      <ion-icon name="trash" item-right (click)="feedDelete(item.feed_id, msgIndex)"></ion-icon>
      <ion-card-content>
        <p [innerHTML]="item.feed | linky"></p>
        <span>{{this.converTime(item.created) | amTimeAgo}}</span>
      </ion-card-content>
    </ion-item>
  </ion-card> -->
<!-- 
  <ion-card *ngIf="noRecords">
    <ion-item>
      No Records
    </ion-item>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="!noRecords">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
<!-- 
</ion-content> -->