.navbarLogo{
    height: 40px;
    float:left;
    margin-left:10px;
}
page-home {
.blue{
    color:#006699;
}

#home{
    background: color($colors, energy);
}


#udpateBox{
    textarea{
        width:100%;
    }
}
}
