<ion-nav [root]="rootPage"></ion-nav>

 <ion-split-pane [when]="splitPane.getSplitPane()">
<!-- <ion-split-pane>   -->
    <!-- our side menu   -->
  <!-- <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
   

     <ion-content>
    <ion-list>

        <button ion-button color="primary" (click)="logout()">Logout</button>
    </ion-list>
     </ion-content>

  </ion-menu> -->
  

 <!-- the main content  -->
  <ion-nav [root]="rootPage" main #content></ion-nav>
</ion-split-pane>

