


<ion-content padding id="welcome">

<!-- <img src="assets/imgs/inventory_icon.png" class="logo"/> -->
<div class="img" style="text-align:center;">
    <img src="assets/imgs/qr-scan-logo.png" style="width:60%;padding-top:20%;">
</div>
<div class="text-intro" style="text-align:center;">

<br><br>
<h2>Fix Asset Request Application</h2>
<br><br>
<div>Scan QR Code for Request Fix Asset</div>
<br><br>
<!-- <button ion-button block class="marginTop" (click)="signup()">Signup</button> -->
<button ion-button block large color="darkprimary" (click)="login()">Get Start</button>
</div>
</ion-content>
