<!--
  Generated template for the RequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>รายละเอียด รายการจรวจนับ</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding id="request" style="background-color: #ffcb01;" >
  
          <ion-row >
            <ion-col col-12>
                <img src="assets/imgs/dhl-logo-hor.png" style="width:100%;" >
                <h3>หมายเลขตรวจนับ. {{this.value.count_no}}</h3>
                <!-- <h3>Approve. {{this.value.request_status_description}}</h3> -->
                <!-- <h3>Type : {{this.value.req_type_description}} </h3> -->
                <h3>วันที่ตรวจนับ : {{this.value.count_date}} </h3>
                <h3>สถานะ : {{this.value.submit_description}} </h3>
                <!-- <h3>to : {{this.value.to_costcenter}} </h3> -->
              <hr>
              <div class="submit_button" *ngIf="qrscan_button">
              <button ion-button large block (click)="qrScan()" icon-start> 
                  <ion-icon name="qr-scanner"></ion-icon>
                 SCAN QRCODE</button>
                </div>
            </ion-col>
          </ion-row>
        
           <ion-list>
              <ion-item-sliding *ngFor="let assets of resposeData; let i = index ">
                  <ion-item>
                      <h3>Asset No. {{this.assets.asset_no}}</h3>
                      <h3>{{this.assets.asset_description}}</h3>
                      <h3>Net Value : {{this.assets.book_value}}</h3>
                  </ion-item>
                   <ion-item-options side="left">
                      <button ion-button color="danger" icon-start (click)="viewAsset(assets)"><ion-icon name="eye" ></ion-icon> รายละเอียด</button>
                  </ion-item-options>
  
                  <ion-item-options side="right">
                    <div class="submit_button" *ngIf="submit_button">
                    <button ion-button color="danger" icon-start (click)="removeAsset(assets)"><ion-icon name="trash" ></ion-icon> ลบ</button>
                    </div>
                  </ion-item-options>
                  
                </ion-item-sliding>
            </ion-list>
  
            <!-- <div class="view_button" *ngIf="view_button">
                <button ion-button large block (click)="viewApprove()" icon-list-box> 
                    <ion-icon name="viewapprove"></ion-icon>
                  view approve list</button>
            </div> -->
  
            <div class="submit_button" *ngIf="submit_button">
            <!-- <button ion-button large block (click)="submitCount()" icon-start> 
                <ion-icon name="send"></ion-icon>
               Submit Request
            </button> -->
                <br>
                <hr>
                <div class="submit_button" *ngIf="submit_button">
                  <button ion-button large block (click)="deleteCount()" icon-start style="background-color:red;"> 
                    <ion-icon name="trash"></ion-icon>
                      ลบรายการตรวจนับ
                  </button>
                </div>
  
            </div>
      
       
  
  </ion-content>
  