<!--
  Generated template for the AssetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>รายละเอียด Asset No . {{this.value.asset_no}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color: orange;">

    <ion-list *ngFor="let item of resposeData; let msgIndex = index " text-center>

        <ion-card text-center>
            <img src="assets/imgs/dhl-logo-hor.png" style="width:100%;" >
            <ion-card-header>
               <h2>Asset No. {{this.item.asset_no}}</h2> 
               
               
            </ion-card-header>
            <ion-card-content>

                <h3>{{this.item.asset_description}} </h3>
                <br>
                <h3>Class : {{this.item.class_code}} </h3>
                <h3>Account Code : {{this.item.account_code}} </h3>
                <h3>Account : {{this.item.account_name}} </h3>
                <br>
                <!-- <h3>Asset Class : {{this.item.asset_class}} </h3> -->
                <h3>Costcenter : {{this.item.cost_code}} </h3>
                <h3>Name: {{this.item.cost_description}} </h3>
                <br>
                <h3>Cap.Date : {{this.item.cap_date}} </h3>
                <!-- <h3>Dep Key : {{this.item.dep_key}} </h3> -->
                <!-- <h3>Inventory No : {{this.item.invent_no}} </h3> -->
                <!-- <h3>Sno : {{this.item.sno}} </h3> -->
                <hr>
                <h3>Acquisition : {{this.item.acquisition}} </h3><br>
                <h3>Total Accum Dep : {{this.item.total}} </h3><br>
                <h3>Book Val : {{this.item.book_value}} </h3>
            </ion-card-content>
          </ion-card>
      </ion-list>


</ion-content>
