<!--
  Generated template for the CountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ตรวจนับทรัพย์สิน</ion-title>
  </ion-navbar>

</ion-header>

<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <img ion-right src="assets/imgs/qr-scan-logo-icon.png" class="navbarLogo" />
    <ion-title>ตรวจนับทรัพย์สิน</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding id="home"  style="background-color: #ffcb01;">
        

    <!-- <div class = "scan_button" *ngIf="show_scanButton"> -->
    <div class = "scan_button" >
          <div class="user">
              <img src="assets/imgs/dhl-logo-hor.png" style="width:100%;" >
            <ion-list>
                <ion-item>
                    <ion-icon name="home" item-left></ion-icon>
                    Cost Center Code: {{userPostData.cost_center_code}} 
                  </ion-item>
                  <ion-item>
                      <ion-icon name="home" item-left></ion-icon>
                    Cost Center : {{userPostData.cost_description}} 
                    </ion-item>
                <ion-item>
                    <ion-icon name="person" item-left></ion-icon>
                    User : {{userPostData.user}}
                  </ion-item>
                  <!-- <ion-item>
                      <ion-icon name="key" item-left></ion-icon>
                    name : {{userPostData.firstname}} {{userPostData.lastname}}
                  </ion-item> -->
            </ion-list>
          </div>
      <hr>
      <div *ngIf="show_img_icon">
        <p text-center padding>
            <img src="assets/imgs/qr-scan-logo-no-bg.png" style="width:50%;">
        </p>
      </div>
    <!--
        <div *ngIf="show_create_count">
         <ion-item>
          <ion-label>Request Type</ion-label>
          <ion-select  [(ngModel)]="req.request_type">
            <ion-option value="1">Transfer</ion-option>
            <ion-option value="2">Disposal</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>To Costcenter</ion-label>
          <ion-select  [(ngModel)]="req.to_costcenter">
            <ion-option *ngFor="let item of resposeData; let index = index" value={{item.costcenter_id}} >{{item.costcenter_id}}/{{item.costcenter_description}}</ion-option>
          
          </ion-select>
        </ion-item>
        <br> 
        <p text-center>
          <button color="danger" ion-button large block (click)="send_create_count" icon-start> 
              <ion-icon name="add-circle"></ion-icon>
             Create Count Document.</button>
          
      </p>

      <p text-center>
        <button color="danger" ion-button large block (click)="reset_button" icon-start> 
            <ion-icon name="arrow-back"></ion-icon>
           Back</button>
        
    </p>

      </div>
-->
        <!-- <hr> -->
        <!-- <div  *ngIf="show_img_icon"> -->
        <div class="show_img_icon">
        <p text-center>
          <!-- <button ion-button large block (click)="create_request()" icon-start>  -->
          <!-- <button ion-button large block (click)="create_count_doc()" icon-start>  -->
              <button ion-button large block (click)="send_create_count()" icon-start> 
              <ion-icon name="document"></ion-icon>
              สร้างรายการ ตรวจนับ</button>
          
        </p>
      
  
        <br>
        <br>
        <p text-center>
            <button olor="default" ion-button large block (click)="logout()" icon-start>
              <ion-icon name="unlock"></ion-icon>ออกจากระบบ </button>
            
        </p>
      </div>
       
    </div>
  
  
</ion-content>
  