<!--
  Generated template for the ApprovePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Approve List for Request No. {{this.value.req_number}}</ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding style="background-color: orange;">
    <img src="assets/imgs/dhl-logo-hor.png" style="width:100%;" >

    <ion-list *ngFor="let item of resposeData; let msgIndex = index " text-center>

        <ion-card text-center>
            <!-- <img src="assets/imgs/dhl-logo-hor.png" style="width:100%;" > -->
            <ion-card-header>
               <h1>{{this.item.approve_status_description}}</h1> 
               <h1>By : {{this.item.group_name}} </h1>
               
               
            </ion-card-header>
            <ion-card-content>
                <h2>Approve date : {{this.item.approved_date}} </h2>
                <h2>Name : {{this.item.firstname}} {{this.item.lastname}}</h2>
                <h2>Email : {{this.item.email}} </h2>
                
            </ion-card-content>
          </ion-card>
      </ion-list>
</ion-content>
